.App {
  text-align: center;
}

.container {
  width: 100%;
}

.wrapper {
  max-width: 1280px;
  width: 100%;
  padding: 0 50px;
  margin-right: auto;
  margin-left: auto;
  box-sizing: border-box;
}
